@using FeedMeNow.Models;
@{
    var menuItemNameInCity = ViewBag.menuItemNameInCity;
}
@model System.Collections.Generic.List<Restaurant>
@{
    var restaurants = ViewBag.restaurants;
}

<div>
    You searched for&nbsp;&nbsp;&nbsp;&nbsp; <b>@menuItemNameInCity</b>
</div>
<br>
<div>
    @foreach (var restaurant in Model)
    {
        <div class="card bg-light">

            <p>
                <span>
                    <img class="rounded border-info" src="@restaurant.LogoPath">
                    <label class="form-control border-0 bg-transparent">
                        <strong>@restaurant.Name</strong> - @restaurant.Suburb, (Rated #@restaurant.Rank overall)
                    </label>
                </span>
            </p>

            @foreach (var category in restaurant.Categories)
            {
                <div class="card-deck">
                    <label class="form-control border-0 bg-transparent">&nbsp;&nbsp;&nbsp;&nbsp;@category.Name</label>
                </div>

                @foreach (var menuItem in category.MenuItems)
                {
                    var menuItemCheckBoxValue = menuItem.Price.ToString().Replace(',', '.');
                    var menuItemCheckBoxId = String.Concat(restaurant.Id, "_", menuItem.Id);
                    var menuItemCheckBoxLabel = String.Concat(menuItem.Name, " - ", String.Format("{0:C}", menuItem.Price));

                    <div class="form-row">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <span>
                            <input type="checkbox" class="form-check-input" id=@menuItemCheckBoxId name="menuItems"
                                   value=@menuItemCheckBoxValue onchange="menuItemCheckBoxIdChange(this)">
                            <label class="form-check-label" for=@menuItemCheckBoxId>@menuItemCheckBoxLabel</label>
                        </span>
                    </div>
                }
            }
        </div>
    }
    <div>
        <input id="submitOrderButton" class="btn-default btn-block" value="Select menu item" type="submit" disabled>
    </div>
</div>

<!--
<script src="~/dist/RestaurantList.js" type="text/javascript" asp-append-version="true"></script>
-->