@using FeedMeNow.Models;
@model System.Collections.Generic.List<Restuarant>
@{
    var data = ViewBag.Message;
}

<br>
<br>
<div>
    <ul>
        @foreach (var restuarant in data)
        {
            <li>
                <img src="@restuarant.LogoPath" class="img-rounded" alt="@restuarant.LogoPath">
                <h2>@restuarant.Name</h2>
                @restuarant.City
                @restuarant.Suburb
            </li>
        }
    </ul>
</div>

<h3>@data</h3>  