@using FeedMeNow.Models;
@{
    var menuItemNameInCity = ViewBag.menuItemNameInCity;
}
@model System.Collections.Generic.List<Restaurant>
@{
    var restaurants = ViewBag.restaurants;
}

<br>
You searched for&nbsp;&nbsp;&nbsp;&nbsp; <b>@menuItemNameInCity</b>
<br>
<br>
<div>
    @foreach (var restaurant in Model)
    {
        <div class="card-title bg-light">
            <img src="@restaurant.LogoPath" class="img-rounded" alt="@restaurant.LogoPath">
            <h3>@restaurant.Name</h3>
            @restaurant.Suburb
            <br>
            @foreach (var category in restaurant.Categories)
            {
                <div class="card-deck">@category.Name</div>

                @foreach (var menuItem in category.MenuItems)
                {
                    <div>
                        <label class="container">
                            @menuItem.Name ---  @String.Format("{0:C}", menuItem.Price)
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                }
            }
        </div>
        <br>
        <br>
    }
</div>>

